@import url('https://fonts.googleapis.com/css?family=Lato:900|Lora:400i');

*{}


.navbar {
    background-color: #282828;
    text-emphasis-color: antiquewhite;
    font-family: "Lato";
}

.btn-primary {
    font-family: "Lato";
    background-color: #c0a375;
    font-size: 15px;
}

.btn-primary2 {
    font-family: "Lato";
    background-color: none;
    color: white;
    border: 2px solid white;
    font-size: 15px;
}

#btn-down {
    position: absolute;
    bottom: 10px;
    color: white;
}

header {
    background-image: url(https://mobirise.com/assets3/images/jumbotron-2000x1252-54.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
}

header h1 {
    font-family: "Lato";
    font-size: 75px;
}

header p {
    font-family: "Lora";
    font-size: 23px;
    font-weight: 550;
}

section {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.web-icon {
    color: #7e9b9f;
    font-size: 150px;
    text-align: center;
}

h1 {
    font-family: "Lato";
    text-align: center;
    padding: 20px;
}

h3,
h4 {
    font-family: "Lato";
    text-align: center;
}

.col-md-3>img {
    width: 100%;
}

.col-md-6>img {
    width: 100%;
}

.btn-blue {
    background-color: #7e9b9f;
    color: white;
    font-family: "Lato";
    font-size: 15px;
}

.btn-white {
    background-color: white;
    color: #535353;
    font-family: "Lato";
    font-size: 15px;
}

.btn-darkgray {
    background-color: #535353;
    color: white;
    font-family: "Lato";
    font-size: 15px;
}

.btn-deafult {
    width: 50px;
    height: 50px;
    color: black;
    text-align: center;
    border: 2px solid #c0a375;
    border-radius: 50%;
    margin: 5px;
}

.btn-deafult2 {
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    border: 2px solid #c0a375;
    border-radius: 50%;
    margin: 5px;
}

#iphone {
    background-color: #e4ddd7;
    background-image: url(https://mobirise.com/assets3/images/main2-2000x1333-33.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: right;
}

.white {
    color: white;
}

.text-center {
    text-align: center;
}

.color-gray {
    background-color: #efefef;
}

.color-darkgray {
    background-color: #c1c1c1;
}

footer {
    background-color: #323232;
    color: #9d9d9d;
    padding: 30px 10px;
    text-align: center;
}

.card-block {
    background-color: #f4f4f4;
    font-family: "Lora";
    padding: 20px;
    height: 150px;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
}


.margin{
    margin: 10px;
}

#experts {
    background-image: url(https://mobirise.com/assets3/images/landscape2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.news {
    background-image: url(https://mobirise.com/assets3/images/v5-cropped-2000x752-77.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.links {
    background-color: #2e2e2e;
    color: #939393;
}

.links li {
    color: white;
    border-bottom: 1px dotted #585858;
    padding: 10px;
}
